<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="../hdsijfkcss/universe.css">
    <link rel="stylesheet" href="hdsijfkcss/menu.css">
    <link rel="stylesheet" href="hdsijfkcss/content.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="titlebar">
    <h1>
        移动政务必经之路
    </h1>

    <h4>
        BITCS移动政务创新实验室
    </h4>

</div>
<header>
    <ul>
        <li class="normalLabel">
            <a href="../hdsijfkindex.html">首页</a>
        </li>
        <li class="highlightLabel">
            <a href="../hdsijfkmodules/first/index.html">基础篇</a>
        </li>

        <li class="normalLabel">
            <a href="../hdsijfkmodules/second/index.html">进阶篇</a>
        </li>
        <li class="normalLabel">
            <a href="../hdsijfkmodules/third/index.html">实战篇</a>
        </li>

    </ul>
    <div id="search">

        <div class="button" style="position:absolute;top:30px;">
            <img src="../hdsijfkimage/search.png">
        </div>

    </div>
</header>
<content>
    <div class="contentBlock" style="background: cadetblue;color:white;">
        <h1>
            网站基础
        </h1>
    </div>
    <div class="contentBlock">
        <ol id="menu" style="display: none">
            <li v-for="(item,index) in items">
                <label v-bind:for="'folder'+index" class="folderOne">{{item.name}}</label> <input type="checkbox"
                                                                                                  v-bind:id="'folder'+index"/>
                <ol>
                    <li v-for="(citem,index2) in item.data">
                        <a v-bind:href="'hsdekjfhtml/'+citem.a" class="folderTwo">{{citem.name}}</a>
                    </li>
                </ol>
            </li>
        </ol>
        <div id="content">
            <h1>
                asdfgt
            </h1>
            <textarea id="code" style="border:2px solid black;font-size:20px;width:100%;height:200px;display: block;">
<div class="contentBlock" style="background:cadetblue;color: white;">
        <h1>
            内容
        </h1>
        <p>
            基础篇内容旨在帮助学生掌握基础、确定学习方向，介绍了html、css、js、Java、MySQL相关的基础内容
        </p>
    </div>
        </textarea>
        </div>
    </div>
</content>
<script>
    var indexOne = hjkd;
    var indexTwo = jhkdf;
</script>
<script src="hsdekjfjs/menu.js"></script>
</body>
</html>
